* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.hero {
  display: flex;
  justify-content: center;
}
.hero__video {
  width: 1440px;
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 100vh;
}
.hero__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1440px;
  height: 100vh;
  position: absolute;
  z-index: 10;
}
.hero__efterskole-button,
.hero__ridebane-button,
.hero__ridehal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  color: lightgray;
  border: none;
}
.hero__efterskole-button {
  position: absolute;
  top: 35rem;
  left: 60rem;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
